/* work sans fonts google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400;1,500&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 100px;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 600;
    font-size: 2.5rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-weight: 400;
    font-size: 1rem;
}

nav li>a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 3rem;
    color: #131313;
}

.banner-description {
    margin-top: 10px;
    color: #727272;
    font-weight: 350;

}

.btn {
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 120px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    background: #FF900E;
    cursor: pointer;
}

.banner-image {
    margin-top: 20px;
    width: 100%;
}


main {
    max-width: 1440px;

}

.features {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.features-image {
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-list {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.teams-title {
    margin-bottom: 10px;
    font-size: 2.2rem;
}

.word1 {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.word2 {
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.word3 {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-description {
    margin-top: 10px;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}
.image{
    width: 280px;
    height: 280px;
}
.facts{
    margin-top: 80px;
}
.facts-title{
    margin-left: 70px;
    font-size: 2rem;
    font-weight: 500;
}
.facts-description{
    margin-left: 70px;
    font-size: 1rem;
    font-weight: 250;
    margin-top: 10px;
}
.facts-card-container{
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}
.card{
    padding: 20px 15px;
    border-radius: 5px;
border: 1px solid #FF900E;
}
.card-stats{
    font-size: 2rem;
    color: #424242;
}
.card-title{
    font-size: 1rem;
    color: #727272;
}

/* for responsive */
@media screen and (max-width:576px) {
    header {
        padding: 15px;
    }

    nav,
    nav>ul, .features {
        flex-direction: column;
    }
    .features-image{
        grid-template-columns: 1fr;
        padding-left: 10px;
    }
    .feature-list{
        margin-right: 0px;
    }
}

/* tab or medium devices */
@media screen and (min-width:577px) and (max-width:960px) {
    nav{
        flex-direction: column;
        padding: 15px;
    }
    .features{
        flex-direction: column;
    }
    .features-image{
        padding-left: 10px;
    }

}